## Deliverable 3. Create a Travel Itinerary Map.

In [63]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [64]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#/Users/Puneeth/Desktop/Data_Analytics/World_Weather_Analysis/Challenge/Weather_Database /WeatherPy_Database.csv
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
0,2,Misasi,TZ,62.96,overcast clouds,-3.0000,33.0833,NaN
1,5,Kondagaon,IN,64.87,scattered clouds,19.6000,81.6667,AYAN MOTER
2,9,Chuy,UY,66.56,overcast clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
3,13,Xuddur,SO,65.82,overcast clouds,4.1213,43.8894,Banjanay Hotel
4,16,Mar Del Plata,AR,62.87,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [65]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [66]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "San Joaquin"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Santa Barbara"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Catalina"]
print(vacation_start)

    City_ID    City Country  Max Temp Current Weather Description     Lat  \
30      130  Laguna      US     67.98                   clear sky  38.421

         Lng                                         Hotel Name
30 -121.4238  Holiday Inn Express & Suites Elk Grove Central...

In [68]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(start)

(38.421, -121.4238)

In [ ]:
import gmaps.datasets
# Import the API key.
from config import g_key
gmaps.configure(api_key='g_key')
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
fig = gmaps.figure()
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directions = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(directions)
fig

In [71]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
frames = [vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3]
itinerary_df = pd.concat(frames,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
0,130,Laguna,US,67.98,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,130,Laguna,US,67.98,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,319,San Joaquin,US,68.25,clear sky,37.9333,-121.3011,University Plaza Waterfront Hotel
3,252,Santa Barbara,US,67.14,clear sky,34.7333,-120.0343,Upper Ballard Campground
4,500,Catalina,US,66.79,clear sky,32.5056,-110.9211,Miraval Arizona Resort & Spa

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig