## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database /WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather Description
0,0,Karlstad,SE,59.3793,13.5036,25.36,100,100,5.75,overcast clouds
1,1,Alyangula,AU,-13.8483,136.4192,84.07,84,100,6.91,overcast clouds
2,2,Port Elizabeth,ZA,-33.9180,25.5701,73.69,73,20,25.32,few clouds
3,3,Souillac,MU,-20.5167,57.5167,80.98,89,75,25.32,moderate rain
4,4,Kama,RU,56.3051,54.0936,30.38,98,100,4.00,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather Description
1,1,Alyangula,AU,-13.8483,136.4192,84.07,84,100,6.91,overcast clouds
2,2,Port Elizabeth,ZA,-33.9180,25.5701,73.69,73,20,25.32,few clouds
3,3,Souillac,MU,-20.5167,57.5167,80.98,89,75,25.32,moderate rain
5,5,Vaini,TO,-21.2000,-175.2000,80.87,76,11,12.68,light rain
6,6,Ribeira Grande,PT,38.5167,-28.7000,63.00,67,20,8.05,few clouds
7,7,East London,ZA,-33.0153,27.9116,72.54,88,40,18.41,scattered clouds
9,9,Busselton,AU,-33.6500,115.3333,73.04,42,95,8.55,overcast clouds
10,10,San Quintin,MX,30.4833,-115.9500,53.31,29,1,5.88,clear sky
12,12,Rikitea,PF,-23.1203,-134.9692,77.36,77,100,13.31,light rain
13,13,Hermanus,ZA,-34.4187,19.2345,70.81,65,63,15.10,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0                     443
City                           443
Country                        439
Lat                            443
Lng                            443
Max Temp                       443
Humidity                       443
Cloudiness                     443
Wind Speed                     443
Current Weather Description    443
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(axis=1, how='all', inplace=True)

/Users/Puneeth/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
1,Alyangula,AU,84.07,overcast clouds,-13.8483,136.4192,
2,Port Elizabeth,ZA,73.69,few clouds,-33.9180,25.5701,
3,Souillac,MU,80.98,moderate rain,-20.5167,57.5167,
5,Vaini,TO,80.87,light rain,-21.2000,-175.2000,
6,Ribeira Grande,PT,63.00,few clouds,38.5167,-28.7000,
7,East London,ZA,72.54,scattered clouds,-33.0153,27.9116,
9,Busselton,AU,73.04,overcast clouds,-33.6500,115.3333,
10,San Quintin,MX,53.31,clear sky,30.4833,-115.9500,
12,Rikitea,PF,77.36,light rain,-23.1203,-134.9692,
13,Hermanus,ZA,70.81,broken clouds,-34.4187,19.2345,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna(subset=['Hotel Name'])
clean_hotel_df=hotel_df.copy()

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
from os.path import exists
file_exists = exists(output_data_file)
if not file_exists:
    hotel_df.to_csv(output_data_file)
else:
    hotel_df_f = pd.read_csv(output_data_file)
    hotel_df_f.head()
    
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{City}</dd>
<dt>Current Description</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))